.newsletter-subscribe {
  color:#313437;
  background-color:#eeeeee;
  padding:0px 0;
}

.newsletter-subscribe p {
  color:#7d8285;
  line-height:1.5;
}

.newsletter-subscribe h2 {
  font-size:24px;
  font-weight:bold;
  margin-bottom:25px;
  line-height:1.5;
  padding-top:0;
  margin-top:0;
  color:inherit;
}

.newsletter-subscribe .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 25px;
}

.newsletter-subscribe .intro p {
  margin-bottom:35px;
}

.newsletter-subscribe form {
  text-align:center;
}

.newsletter-subscribe form .form-control {
  background:#fff;
  border:none;
  border-radius:3px;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:9px;
  height:45px;
  margin-right:10px;
  min-width:250px;
}

.newsletter-subscribe form .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
}

.newsletter-subscribe form .btn:hover {
  opacity:1;
}

.newsletter-subscribe form .btn:active {
  transform:translateY(1px);
}

.newsletter-subscribe form .btn-primary {
  background-color:#004983 !important;
  color:#fff;
  outline:none !important;
}


/*
     FILE ARCHIVED ON 04:51:29 Dec 08, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:35:16 Oct 03, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 157.789
  exclusion.robots: 0.071
  exclusion.robots.policy: 0.062
  cdx.remote: 0.058
  esindex: 0.008
  LoadShardBlock: 134.94 (3)
  PetaboxLoader3.datanode: 134.183 (4)
  load_resource: 165.578
  PetaboxLoader3.resolve: 29.932
*/